.mytxet {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
}

.text-box {
    margin-top: 8rem;
}

.rotate-box {
    width: 140% ;
    text-overflow: clip;
}
.text-box>div {
    -webkit-animation: loop 10s infinite linear;
    animation: loop2 10s infinite linear ;
    color: #84858E;
}

@media screen and (max-width: 1140px) {
    .rotate-box {
        width: 180%;
    }
}

@media screen and (max-width: 992px) {
    .rotate-box {
        width: 240% ;
    }
}
@media screen and (max-width: 720px) {
    .rotate-box {
        width: 300% ;
    }
}

@media screen and (max-width: 540px) {
    .rotate-box {
        width: 380% ;
    }
}

