.form-step {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 5px;
    flex-direction: column-reverse;
}

.content-form {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
}

fieldset {
    margin: 0;
    padding: 23px;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    box-shadow: 0 8px 10px #030b2e;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background: #020616;
    border-radius: 8px;
    z-index: 1;
    opacity: 1;
    transition: all 0.5s ease-out 0.2s;
    transform: scale(1);
    animation: enable 0.5s ease-out 0.2s;
}

@keyframes enable {
    0% {
        opacity: 0;
        transform: scale(0.2);
    }

    60% {
        transform: scale(1.1);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.items {
    margin-top: 15px;
    margin-bottom: 1rem;
    margin-right: 15px;
}


.active-li {
    list-style: none;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    width: 8px;
    height: 8px;
    margin: 10px 5px;
    background: white;
    border-radius: 50%;
    opacity: 1;
}

.itemlist {
    list-style: none;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    width: 8px;
    height: 8px;
    margin: 10px 5px;
    border-radius: 50%;
    opacity: 1;
    background-color: #4e4e4e;
    cursor: pointer;
}

.btn-Content {
    width: 140px;
    height: 45px;
    color: #fff;
    background: #1abc9c;
    align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    -o-align-items: center;
    -ms-align-items: center;
    justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
    text-decoration: none;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    font-weight: 600;
    display: flex;
    font-size: 1.5em;
    margin: 10px
}

.btn-Content:hover {
    background: #158b74;

}

.btn-Content-bg {
    background: #020616 !important;
}

.btn-Content-bg:hover {
    background: #7a7a7a73 !important;
}

.left {
    margin-right: 10px;
}

.right {
    cursor: pointer;
}


.step-current {
    width: 110px;
    height: 110px;
    position: absolute;
    top: -30px;
}

.step-current .step-current-content {
    width: 100%;
    height: 100%;
    padding: 30px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    background: #43b5d7;
    color: #fff;
    font-weight: 900;
    font-size: 17px;
    align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    -o-align-items: center;
    -ms-align-items: center;
    justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
    position: relative;
}

.step-current .step-current-content .step-number {
    position: relative;
    z-index: 4;
}

.step-current .step-current-content .step-number span {
    font-size: 33px;
    margin-top: -8px;
}

/*start FormOne */
.Contentbg {
    width: 30%;
    border-radius: 8px;
}

.d-content {
    display: contents;
}


.fieldset-content {
    font-family: 'Inter';
    font-style: normal;
    font-size: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-evenly;
    color: #ffff;
}

.items-about {
    margin-left: 15px;
}

.item-about>label {
    padding: 10px
}


.container-radio {
    position: relative;
    margin: 20px;
    overflow: hidden;
    width: 160px;
}

.hidden {
    display: none;
}

.entry {
    height: 25px;
    position: absolute;
    width: 160px;
}

.entry:nth-child(2) {
    left: 8px;
    top: 8px;
}

.entry:nth-child(4) {
    left: 8px;
    top: 58px;
}

.entry:nth-child(6) {
    left: 8px;
    top: 108px;
}

.circle {
    border: 2px solid #545556;
    border-radius: 50%;
    cursor: pointer;
    height: 20px;
    position: absolute;
    transition: border-color 300ms;
    width: 20px;
}

.entry-label {
    cursor: pointer;
    margin-top: -3px;
    padding-left: 40px;
    user-select: none;
    -moz-user-select: none;
}

.overlay {

    height: 140px;
    pointer-events: none;
    transition: background 300ms;
    width: 40px;
}

.highlight {
    background: #4D98EF;
    border-radius: 50%;
    height: 12px;
    left: 12.2px;
    pointer-events: none;
    position: absolute;
    top: 12px;
    transition: transform 400ms cubic-bezier(0.175, 0.885, 0.32, 1.2);
    transform: translateY(-50px);
    width: 12px;
}

.hidden:nth-child(1):checked~.highlight {
    transform: translateY(0);
}

.hidden:nth-child(3):checked~.highlight {
    transform: translateY(50px);
}

.hidden:nth-child(5):checked~.highlight {
    transform: translateY(100px);
}

.hidden:nth-child(1):checked+.entry .circle {
    border-color: #4D98EF;
}

.hidden:nth-child(3):checked+.entry .circle {
    border-color: #4D98EF;
}

.hidden:nth-child(5):checked+.entry .circle {
    border-color: #4D98EF;
}

.check:checked~.containerOuter .overlay {
    background: #ecf0f4;
}

/*end FormOne */

/*end FormTow */
fieldset .inputtext {
    height: 178px;
    border: none;
    outline: none;
    border-radius: 6px;
    padding: 10px;
    width: 145%;
}

/*end FormTow */



/*start FormThree */

.form-item {
    position: relative;
    margin-bottom: 15px
}

.form-item input {
    display: block;
    width: 400px;
    height: 40px;
    border: solid 1px #ccc;
    border-radius: 8px;
    transition: all .3s ease;
    padding: 0 15px;
}

.form-item input:focus {
    border-color: rgb(40, 193, 253)
}

.form-item label {
    position: absolute;
    cursor: text;
    z-index: 2;
    top: 13px;
    left: 10px;
    font-size: 12px;
    font-weight: bold;
    background: #fff;
    padding: 0 10px;
    color: #999;
    transition: all .3s ease
}

.form-item input:focus+label,
.form-item input:valid+label {
    font-size: 11px;
    top: -5px
}

.form-item input:focus+label {
    color: #060c27;
    border-radius: 5px;
}

/*end FormThree */